 <!DOCTYPE html>
<html ng-app="HomeModule" layout="column" style="height:600px" ng-cloak paddi>
<head>
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<!--  <link href="./stylesheets/material+icons" rel="stylesheet">-->
  <!--<link   type="text/css" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css" rel="stylesheet"/>-->
  <!--<link   type="text/css"          href="https://material.angularjs.org/1.1.1/docs.css" rel="stylesheet" />-->
<!--  <link   type="text/css"          href="./stylesheets/angular-material.css" rel="stylesheet" />
  <link   type="text/css"          href="./stylesheets/docs.css" rel="stylesheet" />
  <link   type="text/css"          href="./stylesheets/center/center.css" rel="stylesheet"/>
  <link   type="text/css"          href="./stylesheets/menubar/menubar.css" rel="stylesheet"/>
  <link   type="text/css"          href="./stylesheets/bootstrap.min.css" rel="stylesheet"/>
  <script type="text/javascript" src="./javascripts/angular.js"></script>
  <script type="text/javascript" src="./javascripts/angular-animate.min.js"></script>
  <script type="text/javascript" src="./javascripts/angular-route.min.js"></script>
  <script type="text/javascript" src="./javascripts/angular-aria.min.js"></script>
  <script type="text/javascript" src="./javascripts/angular-messages.min.js"></script>
  <script type="text/javascript" src="./javascripts/svg-assets-cache.js"></script>
  <script type="text/javascript" src="./javascripts/angular-material.js"></script>
  <script type="text/javascript" src="./javascripts/si-table/si-table.js"></script>
  <script type="text/javascript" src="./angularjs/models/Incidente.js"></script>
  <script type="text/javascript" src="./angularjs/models/View.js"></script>
  <script type="text/javascript" src="./angularjs/controllers/IncidenteController.js"></script>
  <script type="text/javascript" src="./angularjs/controllers/HomeController.js"></script>-->

</head>
<body ng-controller="HomeController">

<div  layout="column" style="height:600px;" ng-cloak flex="auto">

<section >
 <!--md-scroll-shrink ng-if="true"-->
<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="toggleLeft()">
      <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
    </md-button>
    <!-- <md-button> href="#/login">
        <img class="md-raised" src="images/LOGO_Softtek_HOME.png">
     </md-button> -->
      <h2>
       <span>{{selectedView.name}}</span>
      </h2>
   <span flex></span>
       <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
       </md-button>
  <div/>
</md-toolbar>

</section>

<section >
<!--<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="10">-->
<div>
<md-sidenav class="md-sidenav-left" md-component-id="left" >
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Menu</h1>
      </md-toolbar>
      <md-content layout-padding="" >
        <md-button aria-label="" ng-click="close()" class="md-primary" hide-gt-md=""></md-button>
            <div ng-repeat="view in listView">
              <md-list-item>
               <div class="md-list-item-text">
                <h3 class="md-primary" ng-click="go(view.id)">{{view.name}}</h3>
               </div>
               
                <!--<md-button class="md-raised" ng-click="go(view.id);close()">{{view.name}}</md-button>-->
              </md-list-item>
            </div>
      </md-content>
</md-sidenav>

    <md-content  flex="auto">
      <div class="slide-animate" ng-include="selectedView.url" ></div>
    </md-content>
</div>
</section>
</div>
</body>
</html>
<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
